/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg.iconLib {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(8, 28, 36, 0.7);
}

body {
  background-color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #081C24;
  position: relative;
}

body header {
  width: 100%;
  height: 75px;
  position: relative;
  z-index: 100;
}

@media only screen and (max-width: 750px) {
  body header {
    height: 50px;
  }
}

body header .topHeader {
  display: block;
  position: relative;
  background-color: #ffffff;
}

body header .topHeader a.logoIndex {
  position: fixed;
  background-color: #081C24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 95px;
  height: 75px;
}

@media only screen and (max-width: 750px) {
  body header .topHeader a.logoIndex {
    width: 55px;
    height: 50px;
  }
}

body header .topHeader a.logoIndex .logoImage {
  width: 45px;
  height: 40px;
  fill: white;
  display: block;
  max-width: 100%;
  height: auto;
}

body header .topHeader a.logoIndex .logoImage :hover {
  fill: #BC3B69;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

@media only screen and (max-width: 750px) {
  body header .topHeader a.logoIndex .logoImage {
    width: 40px;
    height: 40px;
    margin: auto;
  }
}

body header .topHeader div.searchBar {
  position: fixed;
  background-color: #ffffff;
  padding-left: 35px;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 95px;
  right: 0;
}

@media only screen and (max-width: 750px) {
  body header .topHeader div.searchBar {
    height: 50px;
    left: 55px;
    border-bottom: 2px solid #F8F8F8;
  }
}

@media only screen and (max-width: 420px) {
  body header .topHeader div.searchBar {
    padding-left: 12px;
  }
}

body header .topHeader div.searchBar .searchIcon {
  width: 18px;
  height: 18px;
  fill: rgba(8, 28, 36, 0.7);
}

@media only screen and (max-width: 750px) {
  body header .topHeader div.searchBar .searchIcon {
    width: 15px;
    height: 15px;
  }
}

body header .topHeader div.searchBar input {
  border-style: none;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  width: 100%;
}

body header .topHeader .responsiveMenu {
  display: none;
}

@media only screen and (max-width: 750px) {
  body header .topHeader .responsiveMenu {
    display: block;
    float: right;
    position: fixed;
    width: 55px;
    height: 50px;
    top: 0;
    right: 0;
    border-left: 3px solid #F8F8F8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    background: #ffffff;
  }
}

body header .topHeader .responsiveMenu div.responsiveMenuIcon {
  width: 100%;
}

body header .topHeader .responsiveMenu div.responsiveMenuIcon i.fa-bars {
  color: rgba(8, 28, 36, 0.7);
  font-size: 180%;
  -webkit-text-stroke: 2px white;
}

body nav.leftNav {
  display: block;
  position: fixed;
  float: left;
  width: 95px;
  height: 100vh;
  background-color: #ffffff;
  float: left;
  position: fixed;
}

@media only screen and (max-width: 750px) {
  body nav.leftNav {
    max-height: 0;
    overflow: hidden;
  }
}

body nav.leftNav .openLeftNav {
  width: 100%;
  height: calc(100vh - 50px);
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.98);
  opacity: 1;
  visibility: visible;
  display: block;
  position: absolute;
}

body nav.leftNav ul.leftMenu {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 75px;
  width: 95px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
  body nav.leftNav ul.leftMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

body nav.leftNav ul.leftMenu li.menuOption {
  list-style: none;
  font-size: 12.5px;
  width: 100%;
  height: 95px;
  border-bottom: 1px solid #F8F8F8;
}

body nav.leftNav ul.leftMenu li.menuOption :hover {
  color: #081C24;
}

body nav.leftNav ul.leftMenu li.menuOption :hover .leftMenuIcon {
  fill: #081C24;
}

@media only screen and (max-width: 750px) {
  body nav.leftNav ul.leftMenu li.menuOption {
    text-align: center;
    width: 50%;
    border-bottom: 1.5px solid #f8f8f8;
  }
}

body nav.leftNav ul.leftMenu li.menuOption a.menuLink {
  text-decoration: none;
  color: #081C24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 0.2px solid #c6c6c6;
}

@media only screen and (max-width: 750px) {
  body nav.leftNav ul.leftMenu li.menuOption a.menuLink {
    border-left: 1.5px solid #f8f8f8;
  }
}

body nav.leftNav ul.leftMenu li.menuOption .leftMenuIcon {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  fill: rgba(8, 28, 36, 0.7);
}

body .mainContainer {
  width: calc(100% - 95px);
  margin-left: 95px;
  position: relative;
  z-index: 50;
}

@media only screen and (max-width: 750px) {
  body .mainContainer {
    margin: 0px;
    width: 100%;
  }
}

body .mainContainer .frontImage {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 900px) {
  body .mainContainer .frontImage {
    height: 40vh;
  }
}

@media only screen and (max-width: 750px) {
  body .mainContainer .frontImage {
    height: 40vh;
  }
}

@media only screen and (max-width: 420px) {
  body .mainContainer .frontImage {
    height: 30vh;
  }
}

body .mainContainer .frontImage img.indexImg {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  opacity: 0.3;
}

@media only screen and (max-width: 750px) {
  body .mainContainer .frontImage img.indexImg {
    top: -40px;
  }
}

body .mainContainer .frontImage .pageTitle {
  font-size: 400%;
  font-weight: bold;
  font-family: 'Righteous', cursive;
  color: #081C24;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media only screen and (max-width: 750px) {
  body .mainContainer .frontImage .pageTitle {
    font-size: 350%;
  }
}

@media only screen and (max-width: 420px) {
  body .mainContainer .frontImage .pageTitle {
    font-size: 225%;
  }
}

body .mainContainer .resultsContainer {
  padding: 0 3%;
  margin: 2.5% 0;
  width: 100%;
}

@media only screen and (max-width: 420px) {
  body .mainContainer .resultsContainer {
    padding: 0 2.5%;
    margin: 3% 0;
  }
}

body .mainContainer .resultsContainer .sectionContainer .sectionTopLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .mainContainer .resultsContainer .sectionContainer .sectionTopLine .topLine {
  display: inline-block;
}

body .mainContainer .resultsContainer .sectionContainer .sectionTopLine .sectionTitle {
  font-size: 19.6px;
  text-transform: capitalize;
  font-weight: 100;
  margin-bottom: 20px;
}

body .mainContainer .resultsContainer .sectionContainer .sectionTopLine .viewAllLink {
  font-size: 12.6px;
  text-decoration: none;
}

body .mainContainer .resultsContainer .sectionContainer .firstTitles {
  display: -ms-grid;
  display: grid;
  grid-gap: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin: auto;
}

body .mainContainer .resultsContainer .sectionContainer .firstTitles .titleContainer {
  padding: 0 0 2% 0;
  width: 200px;
  height: 300px;
}

body .mainContainer .resultsContainer .sectionContainer .firstTitles .titleContainer .titlePoster {
  background-color: #444444;
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

@media only screen and (max-width: 420px) {
  body .mainContainer .resultsContainer .sectionContainer .firstTitles .titleContainer .titlePoster {
    width: 180px;
    height: 270px;
  }
}

body .mainContainer .resultsContainer .sectionContainer .firstTitles .titleContainer .titleName {
  padding: 10% 0 0 0;
  color: rgba(8, 28, 36, 0.7);
}
/*# sourceMappingURL=main.css.map */