// incluimos el cssreset
@import 'reset.scss';

// definimos las variables
$trsDB: rgba(8,28,36,0.7);
$darkBlue: #081C24;
$bgColor: #F8F8F8;
$menuBg:#ffffff;

//breakpoints
$tablet: 750px;
$mobile: 420px;

// escondemos los svg que agregamos inline (se agregan así porque son pocos y están optimizados)
svg.iconLib{
    display: none;
}

// comenzamos con los estilos de nuestra aplicacion
body{
    background-color:$bgColor;
    font-family: 'Roboto', sans-serif;
    header{
        width:100%;
        height: 75px;
        position: relative;
        @media only screen and (max-width: $tablet) {
            height: 50px;
        }
        .topHeader{
            display: block;
            position: relative;
            // flex-direction: row;
            background-color: $menuBg;
            a.logoIndex{
                position: fixed;
                background-color:$darkBlue;
                display: flex;
                justify-content: center;
                text-align: center;
                width: 95px;
                height: 75px;
                @media only screen and (max-width: $tablet) {
                    width: 55px;
                    height: 50px;
                }
                .logoImage{
                    width: 45px;
                    height: 40px;
                    fill: white;
                    display: block;
                    max-width: 100%;
                    height: auto;
                    :hover{
                        fill: #BC3B69;
                        transition: all 0.8s ease;
                    }
                    @media only screen and (max-width: $tablet) {
                        width: 40px;
                        height: 40px;
                        margin: auto;
                    }
                }
            }
            div.searchBar{
                position: fixed;
                background-color:$menuBg;
                padding-left: 35px;
                width:100%;
                height: 75px;
                display: flex;
                align-items: center;       
                top: 0;
                left: 95px; 
                right: 0;
                @media only screen and (max-width: $tablet) {
                    height: 50px;
                    left: 55px;
                    border-bottom: 2px solid $bgColor;
                }
                .searchIcon{
                    width: 18px;
                    height: 18px;;
                    fill: $trsDB;
                    @media only screen and (max-width: $tablet){
                        width: 15px;
                        height: 15px;
                    }
                }
                input{
                    border-style: none;
                    outline: none;
                    font-size: 16px;
                    margin-left: 10px;
                    width: 100%;
                }
            }
            .responsiveMenu{
                @media only screen and (max-width: $tablet) {
                    float:right;
                    position: fixed;
                    width: 55px;
                    height: 50px;
                    top: 0;
                    right: 0;
                    border-left: 3px solid $bgColor;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-items: center;
                }
                div.responsiveMenuIcon{
                    width: 100%;
                    i.fa-bars{
                        color: $trsDB;
                        font-size: 180%;
                        -webkit-text-stroke: 2px white;        
                    }
                }
            }
        }
    }
    nav.leftNav{
        display: block;
        width: 95px;
        height: calc(100vh - 75px);
        background-color: $menuBg;
        &.open{
            transform: translate(-100vw)
        }
        @media only screen and (max-width: $tablet) {
            width: 100%;
            height: calc(100vh - 50px);
            margin-top: 0px;
            background-color: hsla(0,0%,100%,.98); 
        }
        ul.leftMenu{
            background-color:$menuBg;
            display: flex;
            position: fixed;
            left: 0;
            top: 75px;
            width: 95px;
            flex-direction: column;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            @media only screen and (max-width: $tablet) {
                flex-direction: row;
                width: 100%;
            }
            li.menuOption{
                list-style: none;
                font-size: 11px;
                width: 100%;
                height: 95px;
                border-bottom: 0.8px solid $bgColor;
                :hover{
                    color: $darkBlue;
                    .leftMenuIcon{
                        fill: $darkBlue;
                    } 
                }
                @media only screen and (max-width: $tablet){
                    text-align: center;
                    width: 50%;
                    border-bottom: 1.5px solid #f8f8f8;
                }
                a.menuLink{
                    text-decoration: none;
                    color: $darkBlue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    @media only screen and (max-width: $tablet){
                        border-left: 1.5px solid #f8f8f8;
                    }
                }
                .leftMenuIcon{
                    width: 20px;
                    height: 20px;
                    margin-bottom: 10px;
                    fill: $trsDB;
                }
            }
        }
    }
    .mainContainer{
        width: calc(100vw - 95px);
    }
    .frontImage{
        .indexImg{
            width: 100%;
            opacity: 0.3;
        }
    }
}

