// incluimos el cssreset
@import '../css/reset.css';

// definimos las variables
$trsDB: rgba(8,28,36,0.7);
$darkBlue: #081C24;
$bgColor: #F8F8F8;
$menuBg:#ffffff;

// comenzamos con los estilos de nuestra aplicacion
body{
    background-color:$bgColor;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    header{
        width:100%;
        height: 75px;
        .topHeader{
            display: flex;
            flex-direction: row;
            a.logoIndex{
                background-color:$darkBlue;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95px;
                height: 75px;
                img.logoImage{
                    width: 45px;
                    height: 40px;
                }
            }
            div.searchBar{
                background-color:$menuBg;
                padding-left: 35px;
                width: 100%;
                margin-left: 95px;
                height: 75px;
                display: flex;
                align-items: center;       
                position: absolute;       
                img.searchIcon{
                    width: 18px;
                    height: 18px;;
                    color: $trsDB;
                }
                input{
                    border-style: none;
                    font-size: 16px;
                    margin-left: 10px;
                }
            }
        }
    }
    nav.leftNav{
        display: block;
        max-width: 95px;        
        ul.leftMenu{
            background-color:$menuBg;
            display: flex;
            flex-direction: column;
            padding: 0px;
            height: 100vh;
            margin: 0px 0px 0px 0px;
            text-align: center;
            align-items: center;
            li.menuOption{
                list-style: none;
                font-size: 11px;
                width: 100%;
                height: 95px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                flex-wrap: wrap;
                border-bottom: 0.8px solid $bgColor;
                a{
                    text-decoration: none;
                    color: rgba(8,28,36,0.7);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    :hover{
                        color: $darkBlue;
                    }
                }
                .leftMenuIcon{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .frontImage{
        .indexImg{
            width: 100%;
            opacity: 0.5;
        }
    }
}
