

body{
    background-color: #F8F8F8;
    margin: 0px;
    header{
        nav{
            .logo{
                background-color: #081C24;
                max-width: 15%;
            }
            div.searchInput{
                img.searchIcon{
                    height: 3%;
                    width: 3%;
                }

            }
        }
    }
}
